.formControl {

}

.formControl.error input, 
.formControl.error textarea {
 border: solid red 0.2vh;
}

.formControl.warning input, 
.formControl.warning textarea {
 border: solid rgb(121, 121, 0) 0.2vh;
}


.formControl.error span {
    color:red;
}

.formSummaryError {
    border: solid red 0.2vh;
    padding: 0.5vh;
    color:rosybrown;
    width: 30vw;
}