/*
https://www.w3schools.com/howto/howto_css_custom_scrollbar.asp
*/

/* .chats:hover ::-webkit-scrollbar {
    width: 1vh;
}
    
.chats:hover ::-webkit-scrollbar-track {
background: transparent;
}

.chats:hover ::-webkit-scrollbar-thumb {
background: rgb(255, 255, 255); 
border-radius: 0 1vh 1vh 0;
}

.chats:hover ::-webkit-scrollbar-thumb:hover {
background: red; 
}
 */


.chats {
    display: grid;
    grid-template-areas:
    "chats_header"
    "createChat"
    "chatsItems";

    grid-template-rows: 5vh 5vh 1fr;
    /* grid-template-columns: 2fr 4fr; */
}

.chats_header {
    grid-area: chats_header;
    text-shadow: 0.2vh 0.2vh 0.4vh black, 0 0 0.2vh red;
    font-size: 3vh; /* parent have 5vh (3 + 1*2) */
    padding: 1vh;
}

.chatsItems {
    /* padding: 1vh; */
    color: white;

    /* display: grid; */
    grid-template-areas:
    "chatsItem";
    grid-template-rows: repeat(auto-fit, 30vh);
    /* grid-template-rows: 5vh 1fr; */

    grid-area: chatsItems;

}


.createChat {
    position: relative;

    display: grid;
    grid-template-areas:
    "createChatHeader getMemberList";
    /* "createChatForm"; */
    grid-template-rows: 1fr 1fr;
}



.addMember {
    position: absolute;

    display: grid;
    grid-template-areas:
    "addMemberHeader getMemberList";
    /* "createChatForm"; */
    grid-template-rows: 1fr 1fr;
    z-index: 9999;
}

.getMemberList {
    position: relative;
    height: 100%;
    color: red;
}

.addMemberHeader {
    color: white;
    position: absolute;
    height: 100%;
}





.createChatHeader {
    color: white;
    position: absolute;
    height: 100%;
}
.createChatHeader:hover .createChatForm {
    display: block;
    color: red;
    position: absolute;
    height: 400%;
    background-color: brown;
    top: 5vh;
    width: max-content;
    height: max-content;
    /* left: 50vw; */
}

.createChatForm {
    display: none;
}




/* .chats .chatsItems {
    grid-area: chatsItems;
} */


/* .chatsItems a:link { color:rgb(31, 8, 61); font-weight: 700; font-style: italic; text-decoration: none;}
.chatsItems a:visited { color:rgb(60, 193, 115) }
.chatsItems a:active { color:rgb(255, 0, 98) } */



.chatItem {
    /* box-sizing: content-box; */
    padding: 1vh;
    font-size: 2vh;
    border-radius: 0vh 50vh 10vh 0vh;
    border: solid rgb(69, 4, 4) 0.4vh;
    margin: 1vh;

    display: grid;
    grid-template-areas:
    " chatItemData chatSettings";
    grid-template-columns: 6fr 1fr;
}

.chatItemData {
    display: grid;
    grid-template-areas:
    "chatItemPhoto . . chatItemName chatLMSended chatLMSended"
    "chatItemPhoto chatLMAuthorName chatLMAuthorNameDotted chatLMBody . chatItemNewMsgsNum";
    grid-template-rows: 5vh 5vh;
    grid-template-columns: 10vh 4fr  0.3vh   8fr 1fr 0.6fr;
    align-items: center;
    text-align: center;
    grid-area: 'chatItemData';

    grid-gap: 1vw;
}
 
.chatItemPhoto {
    /* box-sizing: border-box; */
    /* padding: 1vh; */
    height: 100%;
    /* width: 100%; */
    /* max-height: 100%; */
    grid-area: chatItemPhoto;
}

.chatItemPhoto > img {
    /* box-sizing: content-box; */
    object-fit: cover;
    width: 100%;
    height: 100%;
}



.chatLMBody {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; 

    grid-area: chatLMBody;

    font-weight: 400; 
    font-style: italic;

}
.chatLMSended {
    grid-area: chatLMSended;
}
.chatLMAuthorName {
    /* display: grid; */
    text-align: right;
    color: white;
    grid-area: chatLMAuthorName;

    width: inherit;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; 
}

.chatLMAuthorNameDotted {
    grid-area: chatLMAuthorNameDotted;
    color: white;
}




.chatItemNewMsgsNum {
    font-size: 1fr;
    font-weight: bold;
    padding: 0.3vh;
    color: rgb(2, 2, 34);
    border-radius: 100%;
    border: 0.5vh solid rgb(48, 48, 167);
    grid-area: chatItemNewMsgsNum;
}




.chatItemName {
    grid-area: chatItemName;

    width: inherit;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; 

}







.member > a{ /*menu list li*/
    display: grid;
    grid-template-areas:
    "chatMemberPhoto"
    "chatMemberName";
    grid-template-rows: 3vh 3vh;
    grid-template-columns: 14vh;
    text-align: right;
}

.memberName {
    grid-area: chatMemberName;
    /* color: black; */
    font-weight: bold;
    font-size: 2vh;

    width: inherit;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; 
}

.memberPhoto {
    grid-area: chatMemberPhoto;
} 

.memberPhoto > img {
    object-fit: cover;
    width: 100%;
    height: 100%; /*инече будет более 10 проц от обжект фита (тоесть рамок что заданы в родителе ( внашем случае grid-template-rows: 3vh 3vh)*/
}



.chatSettings {
    grid-area: chatSettings;
    position: relative;
}

.chatSettings:hover > div {
    display: grid;
    position: absolute;
    color: white;
    margin: 0;
    padding: 0;
}

.chatSettings > div {
    display: none;
}

.chatSettings > div > div{
    color: red;
    padding-bottom: 0.2vh;
    height: 2vh;
    width: 10vh; /* для уменьшения бордера в ребенке (в скроле) */
    /* text-overflow: ellipsis; */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    /*overflow: hidden; /*сокращяет (если более чем длина видс)*/
}
.chatSettings > div > div:hover .chatSettingsMembersList {
    display: grid;
    position: absolute;
    left: 10vh;
    top: 0vh;
    padding: 0 0 0 5vh;
    overflow-y: scroll;
    width: 8vh;
    height: 8vh;

}

.chatSettings > div > div:hover .smthElseList {
    display: block;
    position: absolute;
    right: 10vh;
    top: 0vh;
    padding: 0 10vh 0 0;

    /* overflow: hidden; */
    /* width: 100%; */
    /* height: inherit; */
    
    height: 100%;
    overflow-y: scroll;
    grid-template-areas:
    "infoItem";
    grid-template-rows: repeat(auto-fit, 1fr);

}

.chatSettings > div > div:hover  {
    color: red;
    padding-bottom: 0.2vh;
    height: 2vh;
    width: 10vh; /* для уменьшения бордера в ребенке (в скроле) */
    /* text-overflow: ellipsis; */
    white-space: nowrap;
    overflow: visible;
}

.smthElseList {
    display: none;
}
.chatSettingsMembersList {
    display: none;
}

.subElem {
    position: relative;
    left:10vh;
} 

.subElem > button {
    font-family: italic;
}

.subElem2 {
    position: relative;
    left: -7vh;
    /* width: 10vh; */
} 

.subElem2 > button {
    font-family: inherit;
}


.infoItem {
    display: grid;
    font-size: 2vh;
    grid-area: infoItem;
} 


.deleteChat > button {
    color:red;
    font-weight: 600;
}

.chatSettings > div > div:hover .renameChatItem {
    display: block;
    position: absolute;
    right: 10vh;
    top: 0vh;
    padding: 0 0vh 0 0;

    overflow: hidden;
    overflow-y: scroll;
    /* grid-template-areas:
    "infoItem";
    grid-template-rows: repeat(auto-fit, 1fr); */

}
.renameChatItem {
    display: none;
}

.addBorder {
    border: solid black 0.3vh;
}

/* .renameChatForm { */
    /* border: solid black 0.3vh; */
    /* background-color: red; */
    /* background-color: 0,0,0, 0.9; */ 
/* 'https://pluspng.com/img-png/questions-png-hd-question-mark-wallpaper-question-mark-wallpaper-mark-hd-png-1600.png' */
    /* background-image: url('reameChat.png'); */
    /* background-color: 0,0,0, 0.9; */
    /* width: 20vh;
    height: 20vh; */
    /* border-radius: 30% 30% 30% 30%; */
/* } */
 
/* /////////////////////////////////////////////
/*

.chatSettings {
    grid-area: chatSettings;
    position: relative;
}


.chatSettings:hover .chatSettingsHeader {
    display: grid;
    position: absolute;
    color: white;
    margin: 0;
    padding: 0;
}
.chatSettings > .chatSettingsHeader {
    display: none;
}



.chatSettings > .chatSettingsHeader > .chatSettingsMembersListHeader{
    color: red;
    padding: 0;
    height: 2vh;
    width:45%;
}
.chatSettings > .chatSettingsHeader > .smthElseHeader{
    color: black;
    padding: 0;
    height: 2vh;
}


.chatSettings > .chatSettingsHeader > .chatSettingsMembersListHeader:hover .chatSettingsMembersList {
    display: grid;
    position: absolute;
    left: 4vw;
    top: 0vh;
    padding: 0 0 0 4vw;

    overflow-y: scroll;
    
    width: inherit;
    height: 300%;

}

.chatSettingsMembersList {
    display: none;
}


.chatSettings > .chatSettingsHeader > .smthElseHeader:hover .smthElseList {
    display: block;
    position: absolute;
    left: 4vw;
    top: 0vh;
    padding: 0 0 0 4vw;

    overflow: hidden;
    overflow-y: scroll;
    grid-template-areas:
    "infoItem";
    grid-template-rows: repeat(auto-fit, 1fr);

}

.smthElseList {
    display: none;
}

.subElem {
    position: relative;
    left: -3vw;
} 

.infoItem {
    display: grid;
    font-size: 2vh;
    grid-area: infoItem;
} */