.nav {
    /* display: grid; */
    grid-area: n;
    background-color: rgb(25, 26, 42);
    padding: 2vw;

    grid-template-areas:
    "nav_item";
    grid-template-rows: repeat(auto-fit, 1fr);
}

.item {
    display: grid;
    grid-area: nav_item;
    font-size: 2vh;
}

.item > a {
    color: white;
    text-decoration: none;
}

.item > a.activeLink {
    color: rgb(226, 194, 9);
}