/* .currentChat a:link { color:white; font-weight: 700; font-style: italic; text-decoration: none;}
.currentChat a:visited { color:rgb(60, 193, 115) }
.currentChat a:hover { color:rgb(115, 255, 0) }
.currentChat a:active { color:rgb(255, 0, 98) } */

/* .currentChat:hover ::-webkit-scrollbar {
    width: 1vh;
}
    
.currentChat:hover ::-webkit-scrollbar-track {
background: transparent;
}
.currentChat:hover ::-webkit-scrollbar-thumb {
background: rgb(255, 255, 255); 
border-radius: 0 1vh 1vh 0;
}

.currentChat:hover ::-webkit-scrollbar-thumb:hover {
background: red; 
} */


.currentChat {
    /* position: relative; */
    /* padding: 1vh; */
    background-color: rgb(9, 4, 66);
    font-family: "Lucida Console";
    display: grid;
    grid-template-areas:
    "chatsHeader"
    "messages"
    "createMessageForm";

    grid-template-rows: 10vh 1fr 15vh;
    /* align-items: center; */
    /* text-align: left; */
    /* padding: 1vh; */
    margin: 0;
    /* grid-gap: 1vw; */
    /* grid-template-columns: 2fr 4fr; */
    /* color: green; */
}


.chatsHeader {
    /* display: grid; */
    /* position: absolute; */
    /* display: grid; */
    /* display: block; */
    /* text-align: center; */
    
    color: white;
    border: solid black 0.3vh;
    border-radius: 2vw 2vw 2vw 2vw;
    /* height: inherit; */
    /* align-items: center;  */
    grid-area: chatsHeader;
    display: grid;
    grid-template-areas:
    "chatsHeaderPhoto chatsHeaderName chatsHeaderSettings";
    grid-template-columns: 20vh 2fr 1.2fr;
    grid-template-rows: 100%; /**inherit/
    
    /* grid-template-rows: 1fr; */
    /* grid-gap: 1vw; */
}

.chatsHeaderSettings {
    padding-left: 5vh;
    grid-area: chatsHeaderSettings;
    position: relative;
    border: inherit;
    border-radius: inherit;
}

.chatsHeaderSettings:hover .chatsSettings{
    /* left:5vh; */
    display: block;
    position: absolute;
    grid-template-areas:
    "chatsSettingsItem";
    grid-template-rows: repeat(auto-fit, 1fr);
}

.chatsSettings {
    display: none;
}

.chatsSettingsItem {
    color: red;
    position: relative;
    display: grid;
    font-size: 2vh;
    /* padding-left: 1vh;
    left:-18vh; */
    /* padding-left: 5vh; */
}


.chatsSettingsItem:hover .chatsSettingsItemForm {
    display: block;
    position: absolute;
    left: 16vh;
}

.chatsSettingsItem:hover > .chatsSettingsItemH {
    /* width: inherit;  */
    width:200%;
    /* text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;     
    padding-right: 12vh; */
}


.chatsSettingsItemForm {
    display: none;
}



.chatsMembers {
    display: none;
}

.chatsMembersActive{
    display: block;
    position: absolute;
    
    /* left: -40vh;
    top: 20vh; */
    width: 50%;
    height: 50%;
    left: 25%;
    top: 25%;
    overflow-y: scroll;
    /* overflow: hidden; */
    overflow-x: hidden;
    grid-template-areas:
    "chatMember chatMemberSettings";
    grid-template-rows: repeat(auto-fit, 1fr 0.2fr);
}

/* .chatsMembersHeader > button:active .chatsMembers{
    display: block;
    position: absolute;
    left: -40vh;
    top: 40vh;
    width: 200%;
    height: 400%;
    overflow-y: scroll;
    grid-template-areas:
    "chatMember chatMemberSettings";
    grid-template-rows: repeat(auto-fit, 1fr 0.2fr);
} */

.chatMember {
    /* position: relative; */
    grid-area: chatMember;
    color: red;
}

.chatMemberSettings {
    /* position: relative; */
    grid-area: chatMemberSettings;
    color: red;
}



.chatsHeaderName {
    grid-area: chatsHeaderName;
    color: rgb(240, 104, 104);
    font-size: 5vh;
    font-weight: 600;
    font-family: Courier;
    padding-left: 5vh;


    width: inherit;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; 

    border: inherit;
    border-radius: inherit;
    
    padding-top: 1vh;

}

.chatsHeaderPhoto {
    align-self: center;
    grid-area: chatsHeaderPhoto;
    height: 100%;
}

.chatsHeaderPhotoAlt {
    text-align: center;
    padding-top: 3vh;
    color: white;
}


.chatsHeaderPhoto > img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 2vw 2vw 2vw 2vw;
    border: solid black 0.1vh;
    padding: 0;
    margin: 0;

}

.messages {
    color:rgb(255, 0, 98);
    display: grid;
    margin-top: 2vh;
    grid-area: messages;
    grid-template-areas:
    "message";
    grid-template-rows: repeat(auto-fit, 1fr);
    /* text-align: left;
    align-items: left;  */
}

.message {
    /* color: red; */
    display: grid;
    /* display: grid; */
    grid-template-areas:
    "messageAuthorName messageBody messageSendedEdited"
    ". . deleteMessage";
    grid-template-columns: 15vh 1fr 20vh;
    grid-template-rows: 1fr 5vh;
    border: solid black 0.3vh;
    border-radius: 2vw 2vw 2vw 2vw;
    padding-left: 2vh;

    /* height: inherit;
    --messageBody-height: height; */

    /* grid-template-rows: 1fr; */
    /* grid-gap: 1vw; */
    /* text-align: left; */
    /* align-items: left; */

}


.messageBody {
    /* display: grid; */
    grid-area: messageBody;
    /* height: 100%;
    min-width: 200%;
    max-width: 200%; */
    /* margin: 0;
    padding: 0; */
    font-weight: 400; 
    font-style: italic;
    padding: 0 0 0 1vw;
    text-align: left;
    max-width: 90vh;
    /* height: inherit;
    --messageBody-height: height; */
    /* align-self: left; */
}

.messageSendedEdited {
    /* margin: 0;
    padding: 0; */
    grid-area: messageSendedEdited;
    /* display: grid; */
    grid-template-areas:
    "messageSended"
    "messageEdited";
    grid-template-rows: 50% 50%;
    /* grid-gap: 1vw; */
}

.messageSended {
    grid-area: messageSended;
    color: grey;
}
.messageEdited {
    grid-area: messageEdited;
    color: grey;
}

.messageAuthorName{
    display: grid;
    grid-area: messageAuthorName;
}
.messageAuthorName > a {
    /* color: white; */
    width: inherit;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; 
}



/* .messages .message {
    color: white;
} */


.createMessageForm {
    grid-area: createMessageForm;
}




.editMessage {
    position: relative;
    display: grid;
    grid-area: messageBody;
    /* color: rgb(13, 68, 13); */
    /* width: inherit; */
    height: 500%;
    grid-template-areas: 
    "editField editField"
    ". countChars"
    "errorField errorField";
    grid-template-rows: 1fr 2vh;
    grid-template-columns: 1fr 5vh;
}

.deleteMessage{
    grid-area: deleteMessage;
    color: red;
}


.editField{
    grid-area: editField;
    color: green;
}

.error{
    border: solid 1vh red;
}


.errorField {
    position: absolute;
    grid-area: errorField;
    color: red;
    /* background-color: black; */
    top: -5vh;
    left: 1vh;
}

.countChars {
    position: absolute;
    grid-area: countChars;
    text-align: left;
    color: grey;
    font-size: 2vh;
    left: -7vh;
    top: -3vh;

}



.smthElseListActive {
    padding-top: 1vh;
    border-radius: 20%;
    border: solid rgb(0, 0, 0) 0.7vh;
    background-color: rgb(64, 0, 66);
    position: absolute;
    width: 20%;
    height: 10%;
    left: 40%;
    top: 45%;
    overflow-y: scroll;
    grid-template-areas:
    "infoItemMSBs";
    grid-template-rows: repeat(auto-fit, 1fr);
    color: red;
}


.subElemMSBs {
    position: relative;
    /* top:10vh; */
} 

.subElemMSBs > .membOperLink {
    font-family: italic;
    text-align: center;
}


.infoItemMSBs {
    display: grid;
    font-size: 2vh;
    grid-area: infoItemMSBs;
} 























/* {
    "username": "Maxerrrrrrrrrrrrrreeeeeeeeeeeeeeeeeeeeekkkk",
    "email": "IMFAGGOTM@gmail.ru",
    "email2": "IMFAGGOTM@gmail.ru",
    "password": "suckMyBalls"
} */