
a:link { color:white; font-weight: 700; font-style: italic; text-decoration: none;}
a:visited { color:rgb(60, 193, 115) }
a:hover { color:rgb(115, 255, 0) }
a:active { color:rgb(255, 0, 98) }

.whole-app-page-wrapper {
  background-color: rgb(67, 55, 135);
  width: 100vw;
  min-height: 100vh;
  max-height: max-content;
}

.app-wrapper {
  margin: 0 auto;
  display: grid;
  width: 80vw;
  /* width: 1fr; */
  /* height: 1fr; */
  /* height: 100vh; */
  grid-template-areas:
  "h h"
  "n c";

  grid-template-rows: 10vh 1fr;
  grid-template-columns: 2fr 10fr;
    /* grid-gap: 10px; */
}

/*просто занимает место пока не выбраны подполя контента в юрле*/
.app-wrapper-content {
  grid-area: c;
  background-color: rgb(40, 13, 194);
  /* height: 1fr; */
}


::-webkit-scrollbar {
  width: 1vh;
  /* border-right: ; */
  /* border-right: -11vw ; */
  /* border-right: ; */
}
  
/* Track */
::-webkit-scrollbar-track {
/* background: black;  */
background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: rgb(255, 255, 255); 
border-radius: 0 1vh 1vh 0;
/* padding-left: 18vh; */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: red; 
}




/* a:visited { color:rgb(21, 51, 21) } */