.dialogs {
    display: grid;
    grid-template-areas:
    "dialogs_header dialogs_header"
    "dialogsItems messages";

    grid-template-rows: 5vh 1fr;
    grid-template-columns: 2fr 4fr;
}

.dialogs_header {
    grid-area: dialogs_header;
    text-shadow: 0.2vh 0.2vh 0.4vh black, 0 0 0.2vh red;
    font-size: 3vh; /* parent have 5vh (3 + 1*2) */
    padding: 1vh;
}

.dialogsItems {
    padding: 1vh;
    color: white;
}

.dialogs .dialogsItems {
    grid-area: dialogsItems;
}

/* .dialogsItems .active {
    color: gold;
}

.dialogsItems a.activeLink {
    color: gold;
} */



.messages {
    padding: 1vh;   
    /* color: green; */
}

/* .messages .activeMessage {
    color: gold;
} */

.dialogs .messages {
    grid-area: messages;
}


/* .messages .message {
    color: white;
} */

